.col-md-3 {
    .nav {
        gap: 8px;
        .nav-link {
            color: $gray-light;
            padding: 10px 16px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            &:hover {
                background-color: $primary-lightest;
                color: $primary;
            }
        }
        .nav-link.active {
            background-color: $primary-lightest;
            color: $primary;
            font-weight: 500;
            &:hover {
                background-color: $primary-lighter;
            }
        }
    }
}